.vm--modal{
  background:var(--foreground-color) !important;
}

.transparent{
  .vm--modal{
    background:transparent !important;
    box-shadow: none !important;
  }
}


$gap:16px;

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:$gap 8px;
  border-bottom: 1px solid var(--text-blur);
  background:var(--background-color);
}

.modal-title{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size:20px;
  font-weight:bold;
  line-height:24px;
  margin:0;
  padding:0;
}

.modal-body{
  display: flex;
  background:var(--background-color);
  align-items:flex-start;
  justify-content: flex-start;
  padding:$gap;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gap;
  border-top: 1px solid var(--text-blur);
  background:var(--background-color);
}

