.v-input--switch__track.theme--dark{
  color: var(--text-secondary) !important;
  caret-color: var(--text-secondary) !important;
  opacity: 1 !important;
  z-index: -1;
}
.v-list-item__icon{
  justify-content: center !important;
}
.theme--light.v-application .markdown-body code{
  background-color:transparent !important;
}
